<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recipe</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Joanne Abad</h1>
        <p>yo!</p>

      </div>
    </div>


     <section class="container">
       <div class="row">
         <div class="col-md-10 col-md-offset-1">
           <h2>Recipes</h2>
         </div>
       </div>
       <!-- recipe! -->
       <div id='recipes'>


         <script id="recipeTemplate" type="text/x-handlebars-template">
           <!-- one recipe -->
           <div class="row recipe">
             <div class="row recipe" data-recipe-id="{{_id}}">

             <div class="col-md-10 col-md-offset-1">
               <div class="panel panel-default">
                 <div class="panel-body">


                 <!-- begin recipe internal row -->
                   <div class='row'>
                     <div class="col-md-3 col-xs-12 thumbnail recipe-art">
                       <img src="images/800x800.png" alt="recipe image">
                       <button class='btn btn-primary add-recipe'text-align='right' >Update Recipe</button>
                       <button class='btn btn-danger delete-recipe'>Delete Recipe</button>
                     </div>

                     <div class="col-md-9 col-xs-12">
                       <ul class="list-group">
                         <li class="list-group-item">
                           <h4 class='inline-header'>Recipe Name:</h4>
                           <span class='recipe-name'>{{name}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class='inline-header'>Ingredients:</h4>
                           <span class='ingredients-list'>{{ingredients}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class='inline-header'>Directions:</h4>
                           <span class='directions-list'>{{directions}}</span>
                         </li>

                         <li class="list-group-item">
                           <h4 class='inline-header'>Made By:</h4>
                           <span class='madeBy-name'>{{madeBy}}</span>
                         </li>

                         <!-- <li class="list-group-item">
                           <h4 class='inline-header'>Image Url:</h4>
                           <span class='recipe-imageUrl'>{{imageUrl}}</span>
                         </li> -->

                       </ul>
                     </div>

                   </div>
                   <!-- end of recipe internal row -->
                 </script>
                   <div class='panel-footer'>
                   </div>

                 </div>
               </div>
             </div>
           </div>
           <!-- end one recipe -->

           <!-- BEGIN FORM SAMPLE -->

           <section id='recipe-form' class="container">
             <div class="row">
             <div class="col-md-10 col-md-offset-1">

               <form class="form-horizontal">
                 <fieldset>

                   <!-- Form Name -->
                   <legend>Add New Recipe</legend>

                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="name">Recipe Name</label>
                     <div class="col-md-4">
                     <input id="name" name="RecipeName" type="text" placeholder="" class="form-control input-md" required="">

                     </div>
                   </div>

                   <!-- Text input-->

                   <div class="form-group">
                     <label class="col-md-4 control-label" for="ingredients">Ingredients</label>
                     <div class="col-md-4">
                       <textarea class="form-control" id="ingredients" name="ingredients"></textarea>
                     </div>
                   </div>

                   <!-- Textarea -->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="directions">Directions</label>
                     <div class="col-md-4">
                       <textarea class="form-control" id="directions" name="directions"></textarea>
                     </div>
                   </div>

                   <!-- Textarea -->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="madeBy">Made By</label>
                     <div class="col-md-4">
                     <input id="name" name="madeBy" type="text" placeholder="" class="form-control input-md" required="">

                     </div>
                   </div>

                   <!-- Text input-->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="imageUrl">Image URL</label>
                     <div class="col-md-4">
                     <input id="imageUrl" name="directions" type="text" placeholder="" class="form-control input-md">

                     </div>
                   </div>


                   <!-- Button -->
                   <div class="form-group">
                     <label class="col-md-4 control-label" for="singlebutton">Save Recipe</label>
                     <div class="col-md-4">
                       <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                     </div>
                   </div>
                 </fieldset>
               </form>
             </div>
             </div>
           </section>

            <!--   END FORM SAMPLE -->



       </div>
     </section>


  </body>
</html>
